body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #faf3f0;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #e74c3c;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}

#taskContainer {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
li:hover {
  transform: scale(1.2);
}
input[type='checkbox'] {
  margin-right: 15px;
  accent-color: #27ae60;
}

input[type='checkbox']:hover {
  transform: scale(2.4);
}
input[type='checkbox']:checked {
  accent-color: #27ae60;
  transform: scale(2.4);
}

button {
  background-color: #e67e22;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  position: absolute;
  right: 10px;
}

button:hover {
  background-color: #d35400;
  transform: scale(1.4);
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
